.DS_Store

homework1/build/*
!homework1/build/BUILDING.md

homework2/build/*
!homework2/build/BUILDING.md

homework3/build/*
!homework3/build/BUILDING.md

homework4/build/*
!homework4/build/BUILDING.md

milestone1/build/*
!milestone1/build/BUILDING.md

milestone2/build/*
!milestone2/build/BUILDING.md

finalproject/build/*
!finalproject/build/BUILDING.md

dependencies/*
!dependencies/README.md


